<p><br /></p>
-
<% assistance.translations.each do |var| %>

<%= var.text + "-" %> 

<%if var.language_id == 1%>
<a href="javascript:prueba('http://translate.google.com/translate_tts?tl=en&q= <%= var.text %>');">LISTEN</a>
<%else%>
<a href="javascript:prueba('http://translate.google.com/translate_tts?tl=es&q= <%= var.text %>');">ESCUCHAR</a>
<%end%>
<% end%>
