<div id="footer">
	<a href="#" target="_blank">Options</a> &nbsp; | &nbsp; <a href="images/center.jpg" target="_blank">About</a>
</div>
      <iframe id="aud" display=none src="" width="1" height="1" BORDER="0">
        <p>Your browser does not support iframes.</p>
      </iframe>
