	<div id="header">
		<div class="logo">
			<a href="index.html"><img src="images/logo.jpg" alt="Example pic" width=240px height=80px style="border: 0px  solid #ccc;" /></a>
		</div>
		<div class="login">
			<a href="#">Login</a>|<a href="#">Sing up</a>
		</div>
	</div>